@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
  background-color: black;
  /* background-image: url('./assets/Wave.svg'); */
  background-size: auto;
}

#bg-video {
  z-index: -1;
  position:fixed;
}